@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap'); 
 
 /* video background */
 #background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  body {
    font-family: 'Prompt', sans-serif;
    background-color: white;
  }

  .maintext {
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    padding: 40px;
  }

  .scrolldown {
    text-align: center;
    color: #ffffff;
  }

  .gif {
    position: fixed;
  }