@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Zilla+Slab:wght@500&display=swap');

body {
  color: #FFFFFF;
  background-color: #f57542;
}

h1 {
  font-family: "Caprasimo";
  text-align: center;
  font-size: 120px;
  padding: 15px;
  margin-left: 15%;
  margin-right: 15%;
}

h3 {
  font-family: "Zilla Slab";
  text-align: center;
  font-size: 80px;
  padding: 15px; 
  margin-left: 15%;
  margin-right: 15%;
}

h6 {
  font-family: "Zilla Slab";
  text-align: center;
  font-size: 15px;
  padding: 5px; 
  margin-left: 15%;
  margin-right: 15%;
}

hr {
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 15px;

}
